
    <!--Start footer-->
    <div class="footer">
        <div class="pull-right">
            10GB of <strong>250GB</strong> Miễn phí.
        </div>
        <div>
            <strong>Xin chào tất cả mọi người!</strong> Đây là trang admin của nhóm 1 *
        </div>
    </div>
    <!--Start footer-->
