@{
    var success = TempData["SuccessMessage"];
    var error = TempData["ErrorMessage"];
}

@if (success != null)
{
    <div class="alert alert-success">@success</div>
}
@if (error != null)
{
    <div class="alert alert-danger">@error</div>
}